/* Mobile CSS */
  *{
    margin:0px;
    box-sizing: border-box;
  }
  .loginFormBox {
      width: 90%;
      margin: 30px auto;
      max-width: 1200px;
    }
  
    .loginStyleBox {
      width: 100%;
      margin: 0px auto;
      background-color: rgb(255, 255, 255);
      padding-right: 12px;
      padding-top: 10px;
      padding-bottom: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      box-shadow: 0px -2px 5px 0px rgb(191, 191, 191);
    }
  
    .loginChoice {
      width: 100%;
      height: 90%;
      margin: auto;
      display: flex;
      background-color: white;
    }
  
    .SignUpBtn2 {
      border: none;
      border-top-left-radius: 10px;
      width: 50%;
      height: 55px;
      text-align: center;
      font-weight: bold;
      background-color:  #E5E0FF;
      box-shadow: 0px -2px 5px 0px rgb(191, 191, 191);
    }
    .LoginBtn2 {
      border: none;
      box-shadow: 0px -2px 5px 0px rgb(191, 191, 191);
      width: 50%;
      height: 55px;
      text-align: center;
      border-top-right-radius: 10px;
      background-color: white;
      font-weight: bold;
    }
    .smallbtnbox{
      margin-top: 13px;
    }
    #aSign2{
      text-decoration: none;
      color: rgb(194, 194, 194);
    }
    #aLogin2 {
      text-decoration: none;
      color: black;
    }
    
    #aSign2:hover{
      color: black;
    }

    .bBox2 {
      width: 88%;
      text-align: center;
      margin: 15px auto;
    }

    .bBox2 input:focus {
      border-color:#876aff;
      outline: none;
    }
  
    .loginImgBox {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .loginFormImg {
      width: 95%;
    }
  
    .userid,
    .userpwd {
      border: 1px solid rgb(198, 197, 197);
      border-radius: 20px;
      width: 100%;
      height: 40px;
      padding-left: 10px;
    }
  
    .bBox3 {
      display: flex;
      justify-content: space-between;
      margin-left: 6%;
      margin-right: 5%;
      font-size: 13px;
    }
  
    .findBoxStyle,
    .fontBoxStyle {
      float: right;
    }
  
    .findBoxStyle {
      text-decoration: none;
    }
  
    #login-btn {
      border: none;
      border-radius: 50px;
      padding: 10px;
      padding-left: 60px;
      padding-right: 60px;
      background-color: rgb(199, 194, 253);
      font-weight: bold;
      color: white;
      font-size: 17px;
      margin-bottom: 20px;
    }

    #login-btn:hover{
      background-color: #d3cafb;
    }
  
    #join-btn {
      text-decoration: none;
      border: none;
      border-radius: 50px;
      padding: 10px;
      padding-left: 51px;
      padding-right: 51px;
      background-color: white;
      font-weight: bold;
      color: rgb(158, 158, 158);
      font-size: 14px;
    }

    #join-btn:hover{
      color: black;
    }


/* Tablet CSS */
@media all and (min-width:768px) {
  .loginFormBox {
      width: 90%;
    }
  
    .loginFormImg {
      width: 70%;
    }
  
    .userid,
    .userpwd {
      width: 80%;
    }
  
    .bBox3 {
      margin-left: 16%;
      margin-right: 16%;
    }
}

/* PC CSS */
@media ( min-width :1024px) {
  .loginFormBox {
      width: 63%;
    }
  
    .smallbtnbox {
      margin-top: 15px;
    }
  
    .loginFormImg {
      width: 58%;
    }
  
    .userid,
    .userpwd {
      width: 75%;
    }
  
    .bBox3 {
      margin-left: 18%;
      margin-right: 18%;
    }
   }