@charset "UTF-8";

@media ( max-width : 767px) {

* {
  box-sizing: border-box;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #344D67;
  display: inline-block;
  position: relative;
  margin-bottom: -15px;
}
#footer_info {
  color: white;
  font-size: 12px;
  list-style: none;
  position: absolute;
  left: 20px;
  top: 15px;
}
#footer_info p {
  margin-bottom: 10px !important;
}
#footer_nav {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: inline-block;
}
#footer_nav ul {
  margin-bottom: 0px !important;
}
#footer_nav ul li {
  float: left;
  margin-right: 15px;
}
#footer_tractor {
  display: none;
}
  .footer_nav_a {
     text-decoration:none !important;
     color: white !important;
  }
}



* {
  box-sizing: border-box;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #344D67;
  display: inline-block;
  position: relative;
  margin-bottom: -15px;
}
#footer_info {
  color: white;
  font-size: 12px;
  list-style: none;
  position: absolute;
  left: 20px;
  top: 15px;
}
#footer_info p {
  margin-bottom: 10px !important;
}
#footer_nav {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
}
#footer_nav ul {
  margin-bottom: 0px !important;
}
#footer_nav ul li {
  float: left;
  margin-right: 15px;
}
#footer_tractor {
  display: none;
}

@media all and (min-width:768px) and (max-width:1023px) {
  #footer_info {
    font-size: 14px;
    line-height: 1.5;
  }
  #footer_nav {
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 30px;
  }
  #footer_nav ul li {
    margin-right: 25px;
  }
  #footer_tractor {
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: white;
    right:170px;
    bottom: 55px;
  }
  .footer_nav_a {
     text-decoration:none !important;
     color: white !important;
  }
  .footer_nav_a:hover {
     text-decoration:none;
  }
}

@media all and (min-width:1024px) {
  #footer_info {
    font-size: 16px;
    line-height: 1.5;
  }
  #footer_nav {
    font-size: 24px;
    position: absolute;
    right: 20px;
    bottom: 50px;
  }
  #footer_tractor {
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: white;
    right: 400px;
    bottom: 5px;
  }
   .footer_nav_a {
     text-decoration:none !important;
     color: white !important;
  }
  .container {
    max-width: 100% !important;
  }
}